var
.gitconfig
.bash_history
.bash_history-02855.tmp
.bash_history-07494.tmp
.bash_history-09648.tmp
.bash_history-18180.tmp
.bash_history-18294.tmp
.bash_history-19424.tmp
.bash_history-27087.tmp
.bash_history-29085.tmp
.bash_history-44342.tmp
.bash_history-46393.tmp
.bash_logout
.bash_profile
.bashrc.backup
.cache
.cargo
.cert
.task
.dotnet
.emacs.d
.gtkrc-2.0
.icons
.local
.mozilla
.node_repl_history
.npm
.nv
.nvidia-settings-rc
.pki
.profile
.python_history
.python_history-08738.tmp
.python_history-46317.tmp
.python_history-68162.tmp
.rustup
.scripts
.sqlite_history
.ssh
.swp
Templates
.taskrc
.themes
.viminfo
.vscode
.vscode-react-native
.wezterm.lua
.wget-hsts
Applications
bin
Desktop
Documents
Downloads
go
Music
nwg-look
Pictures
Postman
'Postman
Public
Videos
abrt
anthy
asm-lsp
BraveSoftware
btop
cava
chromium
Code
configstore
connections.db
cool-retro-term
cppman
create-next-app-nodejs
dconf
enchant
envman
epiphany
evolution
github-copilot
gitui
gnome-control-center
gnome-initial-setup-done
gnome-session
GNOME-xdg-terminals.list
go
goa-1.0
gtk-2.0
gtk-3.0
gtk-4.0
ibus
libreoffice
mapeditor.org
marksman
mc
mimeapps.list
monitors.xml
nautilus
ncspot
nextjs-nodejs
nnn
nwg-panel
OpenRGB
pavucontrol.ini
Postman
PostmanAgent
pulse
pycodestyle
QtProject.conf
ranger
spotify-tui
spotifyd
synfig
tiled
totem
user-dirs.dirs
user-dirs.locale
viewnior
VirtualBox
vlc
xdg-terminals.list
yelp
.vim
.var
.gsd-keyboard.settings-ported
