var
.gitconfig
.bash_history
.bash_history-02855.tmp
.bash_history-07494.tmp
.bash_history-09648.tmp
.bash_history-18180.tmp
.bash_history-18294.tmp
.bash_history-19424.tmp
.bash_history-27087.tmp
.bash_history-29085.tmp
.bash_history-44342.tmp
.bash_history-46393.tmp
.bash_logout
.bash_profile
.bashrc.backup
.cache
.cargo
.cert
.task
.dotnet
.emacs.d
.gtkrc-2.0
.icons
.local
.mozilla
.node_repl_history
.npm
.nv
.nvidia-settings-rc
.pki
.profile
.python_history
.python_history-08738.tmp
.python_history-46317.tmp
.python_history-68162.tmp
.rustup
.scripts
.sqlite_history
.ssh
.swp
Templates
.taskrc
.themes
.viminfo
.vscode
.vscode-react-native
.wezterm.lua
.wget-hsts
Applications
bin
Desktop
Documents
Downloads
go
Music
nwg-look
Pictures
Postman
'Postman
Public
Videos
